.background-color {
    background-color: #464342;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.background > div {
    position: absolute;
    inset: 0;
    background-color: #464342cc;
}

.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100svh;
    margin: auto;
}

.landing > p {
    margin: 50px 0;
    width: 70%;
    font-size: 2.5rem;
}

.landing > .btn {
    margin-left: 20px;
    margin-right: auto;
    font-size: 2.2rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 35px;
}

.about-section {
    background-color: #302d2c;
}

.about {
    display: flex;
    justify-content: space-evenly;
    
}

.about-me {
    text-align: justify;
    width: 50%;
    margin: auto 50px auto 20px;
}

.experiences {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.experience {
    width: 30%;
}

.experience ~ .experience {
    margin-left: 30px;
}

.experience > .space-down {
    margin-bottom: 15px;
}

.experience > .space-up {
    margin-top: 15px;
}

.experience > h3,h4 {
    font-weight: unset;
}
.experience > h3 {
    font-size: 3rem;
}

.experience > h4 {
    font-size: 2.2rem;
}

.experience .skills > span {
    margin-top: 10px;
}

.educations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-line {
    position: relative;
    width: 5px;
    background-color: #393636ff;
    height: max-content;
}

.box {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #393636ff;
    color: #EBCCBB;
    border-radius: 15px;
    margin-bottom: 50px;
}

.year {
    font-size: 2.5rem;
    padding: 15px;
    left: -40px;
}

.education {
    position: absolute;
    width: max-content;
}

.semester {
    font-size: 2.2rem;
    padding: 10px 15px;
    left: -18.5px;
    margin-bottom: 75px;
}

.semester > .education {
    line-height: 2;
    list-style: none;
}

.left {
    right: var(--offset-100);
}

.left-short {
    right: var(--offset-55);
    text-align: right;
}

.right {
    left: var(--offset-100);
}

.right-short {
    left: var(--offset-55);
}


@media screen and (max-width: 1190px) {
    .educations {
        align-items: baseline;
    }

    .left {
        left: var(--offset-100);
    }
    .left-short {
        left: var(--offset-55);
        text-align: left;
    }

    .semester {
        margin-bottom: 100px;
    }
    
}

@media only screen and (max-width: 900px) {
    .experience {
        width: 100%;
    }

    .experience ~ .experience {
        margin-top: 50px;
        margin-left: 0;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me {
        width: unset;
        margin: 0;
    }

    .education {
        width: 205px;
    }
    .semester {
        margin-bottom: 320px;
    }

    .year:nth-child(3) {
        margin-bottom: 100px;
    }
}