.background-color {
    background-color: #464342;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.background > div {
    position: absolute;
    inset: 0;
    background-color: #464342cc;
}

.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100svh;
    margin: auto;
}

.landing > p {
    margin: 50px 0;
    width: 70%;
    font-size: 2.5rem;
}

.landing > .btn {
    margin-left: 20px;
    margin-right: auto;
    font-size: 2.2rem;
}

.container {
    position: relative;
    width: 70%;
    margin: auto;
    padding: 100px 0;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 35px;
}