.background-color {
    background-color: #464342;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.background > div {
    position: absolute;
    inset: 0;
    background-color: #464342cc;
}

.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100svh;
    margin: auto;
}

.landing > p {
    margin: 50px 0;
    width: 70%;
    font-size: 2.5rem;
}

.landing > .btn {
    margin-left: 20px;
    margin-right: auto;
    font-size: 2.2rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 35px;
}

.about-section {
    background-color: #302d2c;
}

.about {
    display: flex;
    justify-content: space-evenly;
    
}

.about-me {
    text-align: justify;
    width: 50%;
    margin: auto 50px auto 20px;
}

@media only screen and (max-width: 900px) {
    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-me {
        width: unset;
        margin: 0;
    }

    .skills {
        margin-top: 50px;
        width: 75%;
    }
}